.jokes-back {
    background: #fff;
    text-align: left;
    border: 7px solid white;
    grid-column: 6 / 3;
    z-index: 1;
    grid-row-start: 1;
    margin-top: 50%;
    padding: 6%;
}

/* .jokes-back:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.jokes-back:active {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0); 
    transform: scale(1.0); 
} */

.jokes {
    grid-column: 2 / 5;
    grid-row-start: 1;
}

.jokes-front {
    background-color: white;
}

.heartContainer {
    display: flex;
    justify-content: flex-end;
}
.heart {
    display: block;
    height: 20px;
}

#next {
    height: 100%;
}

.answer {
    margin-top: 1rem;
}

div.jokes.flexCenter,
div.pickup-lines.flexCenter,
div.facts.flexCenter,
div.conversation.flexCenter {
    width: 215px;
}