.navbar-nav {
    justify-content: space-evenly;
}
.nav-item .nav-link {
    color: #000;
}
.nav-item.active .nav-link {
    color: #23a4ff;
}
.btn-favorite {
    background: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 25px;
    top: 25px;
}
.favorite::before {
    color: red;
}