.cards.favourites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 50px;
}

.jokes-back {
    padding: 1%;
    margin: 2%;
    overflow: scroll;
}

.checkboxes {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0 10% 4% 10%;
    border-radius: 15px;
    flex-wrap: wrap;
}

.check {
    margin: 5px;
}

.select_btn {
    border: 1px solid #272727;
    border-radius: 6px;
    /* padding-left: 4px;
    padding-right: 4px; */
    background: #fff;
}

.heartContainer {
    position: absolute;
    top: 5px;
    right: 5px;

}

#card-title {
    font-size: 1.5rem;
}

#nr-of-pages a {
    color: gray;
    padding: 0.5rem;
    font-size: 1.2rem;
}

#nr-of-pages a:hover, .fa-chevron-right:hover, .fa-chevron-left:hover {
    opacity: 0.5;
    cursor: pointer;
}

.fa-chevron-left {
    position: absolute;
    top: 90%;
    left: 2%;
    font-size: 3rem;
}

.fa-chevron-right {
    position: absolute;
    top: 90%;
    right: 2%;
    font-size: 3rem;
}

.jokes-back {
    border-color: #E2E2E2;
  }

#go-home {
    position: relative;
    top: 15%;
    left: 10%;

    height: 120px;
    width: 120px;

    color: black;
    font-size: 1.2rem;
    text-decoration: none;

    display: block;
    padding: 8%;

    background-color: #E2E2E2;
    border-radius: 7px;
    border: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}

#go-home:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}

.fa-arrow-left {
    padding: 5px;
}