* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    ;
    background: linear-gradient(
    to bottom,
    rgba(255,255, 255, 60),
    rgba(255, 255, 255, 0)
  ),url(../images/Ice.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    line-height: 1.2;
}

:root {
    --font-biggest: calc(28px + (48 - 28) * ((100vw - 375px) / (1600 - 375)));
    --font-big: calc(16px + (34 - 16) * ((100vw - 375px) / (1600 - 375)));
    --font-medium: calc(10px + (24 - 10) * ((100vw - 375px) / (1600 - 375)));
    --font-small: calc(8px + (17 - 8) * ((100vw - 375px) / (1600 - 375)));
    --font-smallest: calc(6px + (14 - 6) * ((100vw - 375px) / (1600 - 375)));

    --purple: #564787;
    --yellow: #fed766;
    --blue: #009fb7;
    --gray: #696773;
}

.dropdown-menu.show {
    background-color: transparent;
    border: none;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    padding-left: 0px;
}

#mobileLogo {
    padding-left: 12px;
}

.card {
    width: 215px;
    height: 315px;
    border-radius: 10px;
    border: 7px solid;
    box-shadow: 2px 2px 5px gray;
}


.front {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-color: white;
    text-align: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555050;
}

#topicsDescription {
    color: #555050;
}

.desciptionP {
    margin-left: 10px;
}

h2 {
    background-color: white;
    height: 130px;
    width: 110px;
    margin: 1.3rem;
    margin-bottom: 0px;
    padding-top: 20px;
    box-shadow: 2px 2px 5px black;
}

.jokes-front > .jokesH3 {
    color: white;
    margin: 0px;
    font-size: 21px;
    padding: 0.5rem 0.2rem;
    border-bottom: 1px solid white;
}

.jokesH3 {
    margin: 0px;
    font-size: 21px;
    padding: 0.5rem 0.2rem;
    border-bottom: 1px solid white;
}

p {
    margin: 0px;
}

.jokes-front p {
    padding-top: 0.5rem;
    color: white;
    font-size: 0.7rem;
}

.jokes-back {
    text-align: left;
}

.answer {
    margin-top: 1rem;
}

header {
    margin-bottom: 2%;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-big);
}

footer {
    height: 10vh;
}

main {
    display: grid;
    grid-template-columns: minmax(auto, 400px) repeat(4, minmax(71px, auto)) minmax(auto, 400px);
    grid-gap: 2%;
}

.conversation.jokesH3,
.conversation.P {
    color: #000;
    border-color: #000;
}

.border {
    border-bottom: 1px solid #fff;
} 

.dummy {
    border: 2px solid orange;
}

.cardLink {
    outline: none;
    text-decoration: none;
    color: #000;
}

.cardLink:hover {
    text-decoration: none;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}

.arrowContainer {
    width: 100%;
    height: 320px;
    position: relative;
    bottom: 50.5%;
    margin-bottom: -320px;
}


@media only screen and (min-width: 1070px) {
    .jokes,
    .pickup-lines,
    .facts,
    .conversation {
    width: 413px;
    }
}