* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 1/span 12;

    display: inline-flex;
    justify-content: space-between;
    border: 2px solid blue;
}


.cards {
    grid-column: 1/span 12;
    border: 2px solid red;

}

div {
    border: 2px solid orange;
    padding: 2rem;
}

@media only screen and (min-width: 500px) {
    .cards {
         grid-column: 2 / span 10;
    }
    .jokes {
        grid-column: 4 / span 3;
    }
}

@media only screen and (min-width: 700px) {
    .cards {
        grid-column: 3 / span 8;
   }
}

@media only screen and (min-width: 900px) {
    .cards {
        grid-column: 4 / span 6;
   }
}